

@media screen and (max-width:576px) {
.navbar-container{
flex-direction: column;
padding: 20px;
font-size: 50px;

}

.nav-item-container{
    flex-direction: column;

}
.nav-item-container a{
margin-top: 30px;

}
.nav-btn{
    
    width: 450px;
    padding:10px;
    
}

/* banner responsive */

.banner-container {
   flex-direction: column;
    
}


/* conent banner */
.content-banner{
    flex-direction: column; 
/*  */
}
.cards{
    grid-template-columns: 1fr;
    

    

}

.img-card{
    max-width: 500px;
    height:800px;
    
}
.foot{
    max-width: 700px;
    
}
.play-container{
    flex-direction: column;
}
}






